* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font-regular';
    font-size: 62.5%;
    text-decoration: none;
}


@media (min-width: 600px) and (max-width: 768px) {

    html {
        width: 85%;
        margin: 0 auto;
        background: var(--primary-3);
    }
}

a {
    color: var(--primary-2);
}