.carrossel_feedback {
  width: 100%;
  height: 547px;
  background: var(--primary-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carrossel_feedback .feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 170px;
  padding: 0 9rem 0 11rem;
  gap: 0px;
  border-radius: 20px;
  background: var(--primary-4);
  font-family: 'font-regular';
  font-size: 2rem;
  gap: 25px;
}

.carrossel_feedback .feedback .texto {
  color: var(--primary-2);
}

.carrossel_feedback .feedback img {
  max-width: 100px;
}
.carrossel_feedback h2 {
  font-family: 'font-bold';
  font-size: 3rem;
  color: var(--primary-2);
  position: absolute;
  bottom: 8%;
}

.carrossel_feedback .seta {
  position: absolute;
  bottom: -6%;
  left: 47.5%;
  z-index: 3;
}
