.footer {
  display: flex;
  width: 100%;
  height: 623px;
  position: relative;
  background: var(--primary-3);
}

.footer .footer_CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 296px;
  width: 25%;
}

.footer .footer_CTA h1 {
  color: var(--primary-1);
  font-size: 3rem;
  font-family: 'font-bold';
  margin: 0 0 39px 0;
  line-height: 1.2;
}

.footer .footer_CTA p {
  color: var(--primary-2);
  font-size: 1.5rem;
  font-family: 'font-regular';
  margin: 0 0 39px 0;
}

.footer .footer_CTA .efeito {
  color: var(--primary-1);
}

.footer .check {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer .footer_CTA button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 363px;
  height: 40px;
  border-radius: 50px;
  font-family: 'font-bold';
  font-size: 2rem;
  background: var(--gradient);
  border: none;
  gap: 1.5rem;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.footer .footer_CTA button:hover {
  transform: scale(1.05);
}
