.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35dvh;
  background: var(--gradient);
  padding: 2rem;
}

.intro .box_texto p {
  background: var(--primary-4);
  color: var(--primary-2);
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: 1.2rem;
  text-align: center;
  max-width: 100%;
}

.intro .box_texto span {
  font-weight: bold;
  font-size: clamp(1rem, 1vw, 2rem);
  color: var(--primary-3);
}

.intro .box_texto .profissionais {
  color: var(--primary-2);
}

@media (min-width: 769px) and (max-width: 1024px) {

  .intro .box_texto p {
    max-width: 90%;
    margin: 0 auto;
  }

}

@media (min-width: 1024px) {
  .intro .box_texto p {
    max-width: 75%;
    margin: 0 auto;
    line-height: 2rem;
  }
}