.topo {
  width: 100%;
  height: 85dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--primary-3);
}

.topo .titulos_CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topo .titulos_CTA h1 {
  font-family: 'font-bold';
  font-size: clamp(2rem, 1vw, 3rem);
  color: var(--primary-2);
  line-height: 1.9rem;
  text-align: center;
  margin: 0 0 3rem 0;
}

.topo .titulos_CTA span {
  font-size: clamp(2rem, 1vw, 3rem);
  color: var(--primary-1);
}

.topo .titulos_CTA p {
  font-size: clamp(1rem, 1vw, 3rem);
  color: var(--primary-2);
  line-height: 1rem;
  text-align: center;
}

.topo .titulos_CTA button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(.5rem, 1vw, 1rem);
  width: 75%;
  padding: 1rem 0 1rem 0;
  border-radius: 2rem;
  border: none;
  background: var(--gradient);
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  bottom: 7.5%;
}

a.link_wpp {
  font-family: 'font-bold';
}

.img_cell {
  position: relative;
}

.topo .box_seta {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--primary-3);
  bottom: -4.5%;
}

.topo .box_seta .raio_seta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background: var(--primary-1);
  border-radius: 50%;
  font-size: 3.5rem;
  color: var(--primary-2);
}

.topo .animacao {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  height: 8rem;
  overflow: hidden;
  left: -15%;
  bottom: 5%;
}

.topo .animacao .barras {
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  /* Suaviza opacidade e movimento */
}

.topo .animacao .barras.sair {
  opacity: 0;
  transform: translateY(-100%);
}

.topo .animacao .barras.entrar {
  opacity: 1;
  transform: translateY(0);
}

.topo .animacao .barras .user {
  color: var(--primary-5);
  font-size: .6rem;
  border: 2px solid var(--primary-5);
  border-radius: 5rem;
  width: 1rem;
  height: 1rem;
  position: relative;
}

.topo .animacao .barras .user i {
  position: absolute;
  bottom: 18%;
  left: 22%;
}

.topo .animacao .barras .barra {
  background: var(--primary-5);
  border-radius: 0.6rem;
  width: 75%;
}

.topo .animacao .barras .dif {
  height: 2.5rem;
}



@media (min-width: 600px) and (max-width: 768px) {

  .topo .titulos_CTA h1 {
    width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .topo {
    flex-direction: row;
    justify-content: end;
    height: 91dvh;
    background: url(../../../../files/imgs/bg.png) center no-repeat;
    background-size: cover;
  }

  .topo .titulos_CTA {
    width: 34%;
    height: 35rem;
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    left: 13.9rem;
    bottom: 15%;
  }

  .topo .titulos_CTA h1 {
    text-align: left;
    margin: 0 0 9rem 0;
  }

  .img_cell {
    position: relative;
    margin: 13.9rem;
  }

  .topo .box_seta {
    right: 46.8%;
    bottom: -4.5%;
  }
}

@media (min-width: 1024px) {

  .topo {
    flex-direction: row;
    justify-content: end;
    height: 91dvh;
    background: url(../../../../files/imgs/bg.png) center no-repeat;
    background-size: cover;
  }

  .topo .titulos_CTA {
    width: 34%;
    height: 35rem;
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    left: 13.9rem;
    bottom: 15%;
  }

  .topo .titulos_CTA h1 {
    line-height: 2rem;
  }

  .topo .titulos_CTA p {
    line-height: 1.5rem;
  }

  .topo .titulos_CTA h1 {
    text-align: left;
    margin: 0 0 9rem 0;
  }

  .img_cell {
    position: relative;
    margin: 13.9rem;
  }

  .topo .box_seta {
    right: 46.8%;
    bottom: -4.5%;
  }
}